.product .productList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.product .btnBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.product .btnBox .btn{
    padding:10px 20px;
    color:#fff;
    background-color: dodgerblue;
    border:none;
    outline:none;
    border-radius: 5px;
    cursor: pointer;
}